* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html{
  background-color: #F5F5F5;
}
.app {
  margin: 30px auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  width: 50%;
  border-radius: 20px;
  padding-bottom: 20px;
}
.inputTask {
  width: 80vh;
  height: 50px;
  padding-left: 20px;
  border-radius: 9px;
  border: 0;
  font-family: "Doto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 15px;
  background-color: #DEDEDE
}
.btnRegister {
  background: linear-gradient(
    to left,
    #60cfc0,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #53dde2,
    #6935a5,
    #ffffff
  );
  z-index: 0;
  position: relative;
  font-family: "Doto", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  margin-top: 20px;
  width: 80vh;
  height: 40px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}
.btnRegister::after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.btnRegister::before{
  content: "";
  background: linear-gradient(
    45deg,
    #60cfc0, #f48fb1, #7e57c2, #2196f3,
    #26c6da, #43a047, #53dde2, #6935a5,
    #ffffff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 25s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}
@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 100% 0;}
  100% {background-position: 0 0;}
}
.btnRegister:hover::before {
  opacity: 1;
}

.btnRegister:active:after {
  background: transparent;
}

.btnRegister:active {
  color: #000;
  font-weight: bold;
}
.btnRegister:hover{
  color: white;
  transition: 1s;
}
h1 {
  font-size: 40px;
  font-family: "Doto", sans-serif;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px auto;
}
.app ul {
  list-style: none;
  width: 80%;
}
.app ul li {
  font-family: "Doto", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 8px;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.btnEdit {
  font-family: "Doto", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
  margin-left: 20px;
  color: green;

  padding: 5px 5px;
  border-radius: 5px;
}
.btnDelete {
  font-family: "Doto", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
  color: rgb(255, 0, 0);
  height: 30px;
  border-radius: 5px;
  width: 10vh;
  border: 0;
}
.btnEdit:hover {
  background-color: #08692a6e;
}
.btnDelete:hover {
  background-color: #690b086e;
}
@media (max-width: 412px){
  h1{
    font-size: 20px;
  }
  .inputTask{
    width: 20vh;
  }
  .btnRegister{
    width: 20vh;
    font-size: 15px;
  }
}
